.office-content input{
  font-size: 90%;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom:10px ;
  padding-right: 13px;
  margin: 10px 0;
  border: 3px solid rgb(32, 30, 30);
  box-sizing: border-box;
  display: block;
  width: 250px;
}

.office-content button{
    font-family: Bradley Hand, cursive;
    border-radius: 5px; 
    text-align: center;
    cursor: pointer;
    background-color:#dbd6d6 ;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom:10px ;
    padding-right: 13px;
}

.driver-content input{
  font-size: 90%;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom:10px ;
  padding-right: 13px;
  margin: 10px 0;
  border: 3px solid rgb(32, 30, 30);
  box-sizing: border-box;
  display: block;
  width: 280px;
}

.driver-content button{
    font-family: Bradley Hand, cursive;
    border-radius: 5px; 
    text-align: center;
    cursor: pointer;
    background-color:#dbd6d6 ;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom:10px ;
    padding-right: 13px;
    margin-left: 27%;
    margin-top: 7%;
}

.truck-content input{
  font-size: 90%;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom:10px ;
  padding-right: 13px;
  margin: 10px 0;
  border: 3px solid rgb(32, 30, 30);
  box-sizing: border-box;
  display: block;
  width: 280px;
}

.truck-content button{
    font-family: Bradley Hand, cursive;
    border-radius: 5px; 
    text-align: center;
    cursor: pointer;
    background-color:#dbd6d6 ;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom:10px ;
    padding-right: 13px;
    margin-left: 27%;
    margin-top: 7%;
}

#left-box{
  float: left;
  width: 30%;
}

#center-box{
  float: right;
  width: 30%;
  padding-right: 30%;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(193, 189, 189, 0.5);
  z-index: 9; 
  backdrop-filter: blur(3px);
}

.overlay p{
  font-size: x-large;
  text-align: center;
  padding-top: 200px;
}

#emibutton{
  font-family: Bradley Hand, cursive;
  text-align: center;
  background: #aab1b1;
  width: 20%;
  margin-left: 6%;
  border-radius: 30%;
  padding-bottom: 5px;
  padding-top: 5px;
}


#emi-details{
  margin-top: 1%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}